<h1>All of components :)</h1>

<button color="primary" mat-raised-button routerLink="/second">second</button>
<button color="primary" mat-raised-button routerLink="/third">third</button>
<button color="primary" mat-raised-button routerLink="/fourth">fourth</button>
<button color="primary" mat-raised-button routerLink="/fifth">fifth</button>
<button color="primary" mat-raised-button routerLink="/sixth">sixth</button>
<button color="primary" mat-raised-button routerLink="/seventh">seventh</button>
<button color="primary" mat-raised-button routerLink="/eighth">eighth</button>
<button color="primary" mat-raised-button routerLink="/nineth">nineth</button>
<button color="primary" mat-raised-button routerLink="/tenth">tenth</button>
<button color="primary" mat-raised-button routerLink="/eleventh">eleventh</button>
<button color="primary" mat-raised-button routerLink="/twelfth">twelfth</button>


<button color="primary" mat-raised-button routerLink="/p1">P1</button>
<button color="primary" mat-raised-button routerLink="/p2">P2</button>
<button color="primary" mat-raised-button routerLink="/p3">P3</button>
<button color="primary" mat-raised-button routerLink="/p4">P4</button>
<button color="primary" mat-raised-button routerLink="/p5">P5</button>
<button color="primary" mat-raised-button routerLink="/p5">P5</button>

<button color="primary" mat-raised-button routerLink="/p7">P7</button>
<button color="primary" mat-raised-button routerLink="/p7-detail">P7-detail</button>
