<div class="app">

  <div class="top">
    <img class="logo" src="assets/Facebook-logo.png">
  </div>

  <div class="bot">

    <div class="login">
      <div class="log">Log in</div>
      <div class="account">to your account</div>
    </div>

    <div class="container-email">
      <div class="email">Email address</div>
      <div class="container-input">
        <i class="bi bi-envelope-fill envelop"></i>
        <div class="divider"></div>
        <input class="email-text" placeholder="Enter your email" type="text"/>
      </div>
    </div>

    <div class="container-email">
      <div class="email">Password</div>
      <div class="container-input">
        <i class="bi bi-lock-fill envelop"></i>
        <div class="divider"></div>
        <input class="email-text" placeholder="Enter your password" type="password"/>
      </div>
      <div class="forgot"> Forgot Password ?

      </div>

    </div>

    <div class="button">Log in</div>
    <div class="signin">
      <div>
        Don't have an account ?
      </div>
      <div class="b">Sign in</div>
    </div>

  </div>
</div>
