:host {
  width: 100vw;
  height: 100vh;
  display: flex;
}


.content {
  width: 100%;
  height: 100%;
}

.dot {
  display: flex;
  float: left;
  width: calc(100% / 10);
  height: calc(100% / 20);
}
