$blue-square: #26D5FF;
$blue-os: #28D6FF;

.logo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 4rem;

  &__bold {
    font-weight: bold;
  }

  &__os {
    color: $blue-os
  }

  &__square {
    width: 4rem;
    height: 4rem;
    margin: 0 .5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem;
    border: .4rem $blue-square solid;
  }

  &__line {
    width: 100%;
    height: 8px;
    background: black;
  }
}
